<!DOCTYPE html>
<html>
  <head>
    <title> Busra Bahar - Stajyer Bilgisayar Muhendisi</title>

    
      <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap" rel="stylesheet" type='text/css'>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" >


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   <%= csrf_meta_tags %>

  </head>

  <body>
  <header id="main_navigation" class="clearfix"> 
            <%= link_to "Busra Bahar ", root_path, class: "name" %>
            <nav>
            <%= link_to "Makaleler", posts_path %>   
            <a href="projeler.html">Projeler</a>
            <a href="iletisim.html">Iletisim</a>
            <a href="">CV</a>
            </nav>
        </header>
    <%= yield %>
     <footer id="main_footer">
            <p class="copyright">&copy;2020 Busra Bahar</p>
            <nav>
                <a href="#"><i class = "fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/busrabahar/" target= "blank"><i class = "fa fa-linkedin"></i></a>
                <a href="http://github.com/busrabahar" target="blank" ><i class = "fa fa-github"></i></a>
            </nav>
        </footer>
  </body>
</html>
